@font-face{
    font-family: "New York"; 
    src: url('./fonts/New York/NewYork.otf') format('opentype');
}
@font-face{
    font-family: "ApexMk3"; 
    src: url('./FONTS/ApexMk3/Apex\ Mk3-Medium.otf') format('opentype');
}
@font-face{
    font-family: "GRIFTER"; 
    src: url('./FONTS/GRIFTER/GRIFTER™\ Bold.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}



.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #dbc4a4;
}

.display_blocks{
    display: flex;
    /* text-align: center; */
    z-index: 200;
}
@media screen and (max-width: 599px){
    .display_blocks{
        display: none;
    }
    .display_blocks__mobile{
        /* display: flex; */
        margin-top: -100px;
        text-align: center;
        z-index: 250;
    }
    .blocks{
        display: none;
    }
    .blocks__mobile {
        font-family: "GRIFTER";
        display: flex;
        font-size: 3em;
        color: #e9d4b7;
        margin: 10px;
    }
}
@media screen and (min-width: 600px){
    .display_blocks__mobile{
        display: none;
    }
}

.blocks {
    font-family: "GRIFTER";
	display: flex;
	font-size: 4em;
	color: #e9d4b7;
    margin: 10px;
    z-index: 99;
}

.circle_shape {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 600px;
	border: 1px solid #cfc2af;
	border-radius: 100%;
    z-index: 100;
}
@media screen and (min-width: 769px){
    .blocks {
        display: flex;
        font-size: 140px;
    }
}





.main_name{
    position: fixed;
    font-family: 'Mukta', sans-serif;

    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    width: 110%;
    height: 57px;
    overflow: hidden;
    padding-top: 10px;
}
.name_one h1{
    font-size: 2em;
    font-weight: lighter;
    margin-top: 10px;
    color: rgb(102, 80, 80);
}



.navbar {
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
    /* justify-content: space-around; */
	font-family: Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	line-height: 100px;
	color: #000000;
}

.site_menu {
	display: flex !important;
    color: black;
}

.menu_item {
	margin-left: 60px;
}

.showreel {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 40px;
	font-family: Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	color: #dbc4a4;
	text-decoration: underline;
}

@media (max-width: 900px) {
	.navbar {
		display: none;
	}
}

/* ============================================= */

#front__1{
    font-family: "GRIFTER";
    /* font-family: 'Mukta', sans-serif; */
    font-weight: lighter;
    font-size: 12em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
    
}
.text__dev{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 162px;
    z-index: 1;

    padding-top: 10px;
    margin-top: 150px;
    text-align: center;
}

#dev__1{
    font-family: "GRIFTER";
    /* font-family: 'Mukta', sans-serif; */
    font-weight: lighter;
    font-size: 10em; 
    color: rgb(0, 0, 0);
    z-index: 2;  
    
}
.text__front{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 232px;
    z-index: 1;

    padding-top: 50px;
    margin-top: 250px;
    text-align: center;
}
@media screen and (min-width: 769px){
    .text__front__mobile{
        display: none;
    }
    .text__front__mobile2{
        display: none;
    }
    #front__1__mobile1{
        display: none;
    }
    #front__1__mobile2{
        display: none;
    }
    .text__dev__mobile{
        display: none;
    }
    #dev__1__mobile{
        display: none;
    }
    .text__dev__mobile2{
        display: none;
    }
    #dev__1__mobile2{
        display: none;
    }
    .text__dev__mobile3{
        display: none;
    }
    #dev__1__mobile3{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .text__front{
        display: none;
    }
    #front__1{
        display: none;
    }
    .text__dev{
        display: none;
    }
    #dev__1{
        display: none;
    }
    /* ============== */
    #front__1__mobile1{
        font-family: "GRIFTER";
        /* font-family: 'Mukta', sans-serif; */
        font-weight: lighter;
        font-size: 6.5em; 
        color: rgb(0, 0, 0);
        z-index: 2;  
    }
    .text__front__mobile{
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 109px;
        z-index: 1;
    
        padding-top: 10px;
        margin-top: 150px;
        text-align: left;
    }
    #front__1__mobile2{
        font-family: "GRIFTER";
        /* font-family: 'Mukta', sans-serif; */
        font-weight: lighter;
        font-size: 6.5em; 
        color: rgb(0, 0, 0);
        z-index: 2;  
    }
    .text__front__mobile2{
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 109px;
        z-index: 1;
    
        padding-top: 10px;
        margin-top: 230px;
        text-align: right;
    }
    
    #dev__1__mobile{
        font-family: "GRIFTER";
        /* font-family: 'Mukta', sans-serif; */
        font-weight: lighter;
        font-size: 6.5em; 
        color: rgb(0, 0, 0);
        z-index: 2;  
    }
    .text__dev__mobile{
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 148px;
        z-index: 1;
    
        padding-top: 50px;
        margin-top: 270px;
        text-align: left;
    }
    #dev__1__mobile2{
        font-family: "GRIFTER";
        /* font-family: 'Mukta', sans-serif; */
        font-weight: lighter;
        font-size: 6.5em; 
        color: rgb(0, 0, 0);
        z-index: 2;  
        
    }
    .text__dev__mobile2{
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 148px;
        z-index: 1;
    
        padding-top: 50px;
        margin-top: 350px;
        text-align: right;
    }
    #dev__1__mobile3{
        font-family: "GRIFTER";
        /* font-family: 'Mukta', sans-serif; */
        font-weight: lighter;
        font-size: 6.5em; 
        color: rgb(0, 0, 0);
        z-index: 2;  
        
    }
    .text__dev__mobile3{
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 148px;
        z-index: 1;
    
        padding-top: 50px;
        margin-top: 430px;
        text-align: right;
    }
}

/* **************************************************************************************************************************************************************************************** */

.footer{
    font-family: 'Mukta', sans-serif;
    display: flex;
}
.footer .switch{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 50px;
    margin-bottom: 30px;
}
.footer .projects{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 30px;
}

/* IMAGES ***************************************************************************************************************************************************************************************** */
@media screen and (max-width: 600px){
    .display_images{
        margin-top: 400px;
    }
}

.image__1 {
    background-image: url("./img/flowers-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    border-radius: 20px;

    width: 120px;
    height:100%;
    /* z-index: -1; */

    margin-left: -950px;
    margin-top: 100px;
} 
.box_color__1 {
    /* background-color: #dbc4a4; */
    background-color: #dbc4a4;
    overflow: hidden;
    width: 120px;
    height: 180px;
}
@media screen and (max-width: 600px){
    .image__1 {
        width: 50px;
        height:100%;
        z-index: 1;
    
        margin-left: 80px;
        margin-top: -400px;
    } 
    .box_color__1 {
        /* background-color: #dbc4a4; */
        background-color: #dbc4a4;
        overflow: hidden;
        width: 50px;
        height: 80px;
    }
}

.image__2 {
    background-image: url("./img/passion1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    width: 100px;
    height:100%;
    /* z-index: -1; */

    margin-top: -80px;
    margin-left: -50px;
} 
.box_color__2 {
    /* background-color: #dbc4a4; */
    background-color: #dbc4a4;
    overflow: hidden;
    width: 100px;
    height: 70px;
}
@media screen and (max-width: 600px){
    .image__2 {
        width: 110px;
        height:100%;
        z-index: 1;
    
        margin-left: -170px;
        margin-top: 0px;
    } 
    .box_color__2 {
        /* background-color: #dbc4a4; */
        background-color: #dbc4a4;
        overflow: hidden;
        width: 110px;
        height: 60px;
    }
}

.image__3 {
    background-image: url("./img/chair-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    width: 100px;
    height:100%;
    /* z-index: -1; */

    margin-left: -600px;
} 
.box_color__3 {
    /* background-color: #dbc4a4; */
    background-color: #dbc4a4;
    overflow: hidden;
    width: 100px;
    height: 150px;
}
@media screen and (max-width: 600px){
    .image__3 {
        width: 60px;
        height:100%;
        z-index: 1;
    
        margin-top: 70px;
        margin-left: -100px;
    } 
    .box_color__3 {
        /* background-color: #dbc4a4; */
        background-color: #dbc4a4;
        overflow: hidden;
        width: 60px;
        height: 80px;
    }
}

.image__4 {
    background-image: url("./img/chair.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    width: 160px;
    height:100%;
    z-index: -1;

    margin-left: -870px;
    margin-top: 150px;
} 
.box_color__4 {
    /* background-color: #dbc4a4; */
    background-color: #dbc4a4;
    overflow: hidden;
    width: 200px;
    height: 100px;
}
@media screen and (max-width: 600px){
    .image__4 {
        width: 80px;
        height:100%;
        z-index: 1;
    
        margin-left: 0px;
    } 
    .box_color__4 {
        /* background-color: #dbc4a4; */
        background-color: #dbc4a4;
        overflow: hidden;
        width: 80px;
        height: 50px;
    }
}

.image__5 {
    background-image: url("./img/flowers-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    width: 160px;
    height:100%;
    z-index: 1;

    margin-left: -270px;
    margin-top: -50px;
} 
.box_color__5 {
    /* background-color: #dbc4a4; */
    background-color: #dbc4a4;
    overflow: hidden;
    width: 200px;
    height: 100px;
}
@media screen and (max-width: 600px){
    .image__5 {
        width: 100px;
        height: 100%;
    
        margin-left: -200px;
        margin-top: -150px;
    } 
    .box_color__5 {
        background-color: #dbc4a4;
        overflow: hidden;
        width: 100px;
        height: 50px;
    }
}

.image__6 {
    background-image: url("./img/chair-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    width: 160px;
    height:100%;
    z-index: 1;
    /* z-index: 150; */

    margin-left: 80px;
    margin-top: -50px;
} 
.box_color__6 {
    /* background-color: #dbc4a4; */
    background-color: #dbc4a4;
    overflow: hidden;
    width: 200px;
    height: 100px;
}
@media screen and (max-width: 600px){
    .image__6 {
        width: 60px;
        height: 100%;
    
        margin-left: 0px;
        margin-top: -50px;
    } 
    .box_color__6 {
        background-color: #dbc4a4;
        overflow: hidden;
        width: 60px;
        height: 40px;
    }
}

.image__7 {
    background-image: url("./img/ben2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    width: 120px;
    height:100%;
    z-index: 1;

    margin-left: -750px;
    margin-bottom: 80px;
} 
.box_color__7 {
    /* background-color: #dbc4a4; */
    background-color: #dbc4a4;
    overflow: hidden;
    width: 120px;
    height: 180px;
}
@media screen and (max-width: 600px){
    .image__7 {
        width: 50px;
        height:100%;
        z-index: 1;
    
        margin-left: -80px;
        margin-top: 100px;
    } 
    .box_color__7 {
        /* background-color: #dbc4a4; */
        background-color: #dbc4a4;
        overflow: hidden;
        width: 50px;
        height: 80px;
    }
}

